.div{
    background-color: rgba(180, 120,60e, 1);

}
#i1{
    color: red;
    font-size: 20px;
    font-weight: 800;
    text-align:center ;
}
.para{
    background-color: pink
    
}
#outer{
    height: 300ox;
    border-radius: 20px;
}
.inner{
    height: 300px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    margin: 20px;
    padding: 100px 0px;
    box-sizing: initial;
}
*{
    background-color: antiquewhite;
    box-sizing: border-box;
}